body {
    background-color: #F9F9F9;
}

.login {
    background-color: white;
    margin: auto;
    /* height: 100vh; */
}

.login__header__logo{
    padding: 10px;
    margin: auto;
    width: 110px;
    height: 51px;
    align-items: center;
    object-fit: contain;
}

