.signIn {
    margin: auto;
    padding: 20px;
    border: 1px solid lightgrey;
    width: 300px;
}

.signIn__form {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    margin: 2px 0 15px 0;
    /* font-family: "Amazon Ember",Arial,sans-serif; */
}

label {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 13px;
    margin: 15px 0 10px 0;
}

.signIn__button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    margin: 15px 0 10px 0;
    padding: 4px;
}

.signIn__createAccBtn {
    width: 300px;
    margin-top: 10px;
}